{% extends 'base.html' %}
{% load static %}
{% block title %}PAPERS
{% endblock title %}
{% block body %}
    
 
     <!-- bradcam_area_start -->
     <header>
      <div class="container text-center text-white">
      
         <u><h1>PAPERS</h1></u>
      </div>
      
      </header>
     <!-- bradcam_area_end -->

   <!--================Paper Area =================-->
   <div class="container my-10">
   <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <img src="{% static 'img/papers/c++.jpg' %}" alt="My image" width="200" height="150">
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="list-group">
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/ds using c/Ipjugaad_BCA 2nd sem Data Structure using C paper 2015.pdf' %} download><h4>2015</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/ds using c/Ipjugaad_BCA 2nd sem Data Structure using C paper 2016.pdf' %} download><h4>2016</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/ds using c/Ipjugaad_BCA 2nd sem Data Structure using C paper 2017.pdf' %} download><h4>2017</h4></a>
          </div>
          </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <img src="{% static 'img/papers/java.png' %}" alt="My image" width="200" height="150">
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <div class="list-group">
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/java/Ipjugaad_BCA 4th sem Java Programming paper 2016.pdf' %} download><h4>2016</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/java/Ipjugaad_BCA 4th sem Java Programming paper 2018.pdf' %} download><h4>2018</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/java/Ipjugaad_BCA 4th sem Java Programming paper 2019.pdf' %} download><h4>2019</h4></a>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <img src="{% static 'img/papers/dbms.png' %}" alt="My image" width="200" height="150">
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <div class="list-group">
             <a class="list-group-item list-group-item-action " href={% static 'ques paper/dbms/Ipjugaad_BCA 2nd sem Database Management System paper 2012.pdf' %} download><h4>2012</h4></a>
             <a class="list-group-item list-group-item-action " href={% static 'ques paper/dbms/Ipjugaad_BCA 2nd sem Database Management System paper 2014.pdf' %} download><h4>2014</h4></a>
             <a class="list-group-item list-group-item-action " href={% static 'ques paper/dbms/Ipjugaad_BCA 2nd sem Database Management Systems paper 2017.pdf' %} download><h4>2017</h4></a>
             <a class="list-group-item list-group-item-action " href={% static 'ques paper/dbms/Ipjugaad_BCA 2nd sem Database Management System paper 2018.pdf' %} download><h4>2018</h4></a>
              <a class="list-group-item list-group-item-action " href={% static 'ques paper/dbms/Ipjugaad_BCA 2nd sem Database Management System paper 2019.pdf' %} download><h4>2019</h4></a>
          </div>        
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <img src="{% static 'img/papers/computer network.png' %}" alt="My image" width="200" height="150">
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          <div class="list-group">
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/computer networks/Ipjugaad_BCA 4th sem Computer Networks paper 2013.pdf' %} download><h4>2013</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/computer networks/Ipjugaad_BCA 4th sem Computer Networks paper 2014.pdf' %} download><h4>2014</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/computer networks/Ipjugaad_BCA 4th sem Computer Networks paper 2015.pdf' %} download><h4>2015</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/computer networks/Ipjugaad_BCA 4th sem Computer Networks paper 2016.pdff' %} download><h4>2016</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/computer networks/Ipjugaad_BCA 4th sem Computer Networks paper 2017.pdf' %} download><h4>2017</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/computer networks/Ipjugaad_BCA 4th sem Computer Networks paper 2019.pdf' %} download><h4>2019</h4></a>
          </div>        
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <img src="{% static 'img/papers/php.png' %}" alt="My image" width="200" height="150">
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          <div class="list-group">
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/php/Ipjugaad_BCA 5th sem Web Based Programming paper 2013.pdf' %} download><h4>2013</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/phpIpjugaad_BCA 5th sem Web Based Programming paper 2014.pdf' %} download><h4>2014</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/php/Ipjugaad_BCA 5th sem Web Based Programming paper 2015.pdf' %} download><h4>2015</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/php/Ipjugaad_BCA 5th sem Web Based Programming paper 2016.pdf' %} download><h4>2016</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/php/Ipjugaad_BCA 5th sem Web Based Programming paper 2018.pdf' %} download><h4>2018</h4></a>
          </div>        
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <img src="{% static 'img/papers/ds algo.png' %}" alt="My image" width="200" height="150">
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action ">
              Cras justo odio
            </button>
            <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
            <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
            <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
          </div>        
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <img src="{% static 'img/papers/Operating-Systems.png' %}" alt="My image" width="200" height="150">
          </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
        <div class="card-body">
          <div class="list-group">
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/os/Ipjugaad_BCA 5th sem Operating System paper 2014.pdf' %} download><h4>2014</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/os/Ipjugaad_BCA 5th sem Operating System paper 2016.pdf' %} download><h4>2016</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/os/Ipjugaad_BCA 5th sem Operating System paper 2017.pdf' %} download><h4>2017</h4></a>
            <a class="list-group-item list-group-item-action " href={% static 'ques paper/os/Ipjugaad_BCA 5th sem Operating Systems paper 2018.pdf' %} download><h4>2018</h4></a>
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>
   <!--================ Blog Area end =================-->
   
   {% endblock body %}