{% extends 'base.html' %}
{% load static %}
{% block title %}QUIZES
{% endblock title %}
{% block body %}
    
    
        <!-- bradcam_area_start -->
        <header>
            <div class="container text-center text-white">
            
               <u><h1>QUIZES</h1></u>
            </div>
            
            </header>
            <!-- bradcam_area_end -->

    <!-- ================ quiz section start ================= -->
    <section class="container my-20">
    <div id="accordion ">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <img src="{% static 'img/papers/c++.jpg' %}" alt="My image" width="200" height="150">
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <div class="list-group">
                <a class="list-group-item list-group-item-action active"  href="{% static 'clang/' %}" >
                  <h4>Wanna play c++ QUIZ?</h4> 
                </a>
                <a class="list-group-item list-group-item-action"  href="{% static 'clang/' %}" >
                  <h4>HIGHSCORES</h4> 
                </a>
              </div>
              </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <img src="{% static 'img/papers/java.png' %}" alt="My image" width="200" height="150">
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="list-group">
                <a class="list-group-item list-group-item-action active"  href="{% static 'clang/' %}" >
                  <h4>Wanna play c++ QUIZ?</h4> 
                </a>
                <a class="list-group-item list-group-item-action"  href="{% static 'clang/' %}" >
                  <h4>HIGHSCORES</h4> 
                </a>
              </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <img src="{% static 'img/papers/dbms.png' %}" alt="My image" width="200" height="150">
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <div class="list-group">
                <a class="list-group-item list-group-item-action active"  href="{% static 'clang/' %}" >
                  <h4>Wanna play c++ QUIZ?</h4> 
                </a>
                <a class="list-group-item list-group-item-action"  href="{% static 'clang/' %}" >
                  <h4>HIGHSCORES</h4> 
                </a>
              </div>        
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <img src="{% static 'img/papers/computer network.png' %}" alt="My image" width="200" height="150">
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              <div class="list-group">
                <a class="list-group-item list-group-item-action active"  href="{% static 'clang/' %}" >
                  <h4>Wanna play c++ QUIZ?</h4> 
                </a>
                <a class="list-group-item list-group-item-action"  href="{% static 'clang/' %}" >
                  <h4>HIGHSCORES</h4> 
                </a>
              </div>        
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <img src="{% static 'img/papers/php.png' %}" alt="My image" width="200" height="150">
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              <div class="list-group">
                <a class="list-group-item list-group-item-action active"  href="{% static 'clang/' %}" >
                  <h4>Wanna play c++ QUIZ?</h4> 
                </a>
                <a class="list-group-item list-group-item-action"  href="{% static 'clang/' %}" >
                  <h4>HIGHSCORES</h4> 
                </a>
              </div>        
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSix">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <img src="{% static 'img/papers/ds algo.png' %}" alt="My image" width="200" height="150">
              </button>
            </h5>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
              <div class="list-group">
                <a class="list-group-item list-group-item-action active"  href="{% static 'clang/' %}" >
                  <h4>Wanna play c++ QUIZ?</h4> 
                </a>
                <a class="list-group-item list-group-item-action"  href="{% static 'clang/' %}" >
                  <h4>HIGHSCORES</h4> 
                </a>
              </div>        
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <img src="{% static 'img/papers/Operating-Systems.png' %}" alt="My image" width="200" height="150">
              </button>
            </h5>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
              <div class="list-group">
                <a class="list-group-item list-group-item-action active"  href="{% static 'clang/' %}" >
                  <h4>Wanna play c++ QUIZ?</h4> 
                </a>
                <a class="list-group-item list-group-item-action"  href="{% static 'clang/' %}" >
                  <h4>HIGHSCORES</h4> 
                </a>
              </div>        
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ contact section end ================= -->
    
    {% endblock body %}