{% extends 'base.html' %}
{% load static %}
{% block title %}PLAYLISTS
{% endblock title %}
{% block body %}


<!-- bradcam_area_start -->
 <header>
    <div class="container text-center text-white">
    
       <u><h1>PLAYLISTS</h1></u>
    </div>
    
</header>
<!-- bradcam_area_end -->



<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5" style="font-family:verdana;">1-C++(CODE WITH HARRY)</h1>
    <hr class="my-4">
    <iframe width="800" height="450"
      src="https://www.youtube.com/embed/videoseries?list=PLu0W_9lII9agpFUAlPFe_VNSlXW5uE0YL" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5" style="font-family:verdana;">2-DATA STRUCTURE(NESO ACADEMY)</h1>

    <hr class="my-4">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/videoseries?list=PLBlnK6fEyqRj9lld8sWIUNwlKfdUoPd1Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5" style="font-family:verdana;">3-OPERATING SYSTEM(GATE SMASHERS)</h1>

    <hr class="my-4">
   <iframe width="800" height="450" src="https://www.youtube.com/embed/videoseries?list=PLxCzCOWd7aiGz9donHRrE9I3Mwn6XdP8p" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5" style="font-family:verdana;">4-DBMS(EASY ENGINEERING CLASSES)</h1>

    <hr class="my-4">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/videoseries?list=PLV8vIYTIdSnYZjtUDQ5-9siMc2d8YeoB4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5" style="font-family:verdana;">5-DATA STRUCTURE AND ALGORITHMS(CODE WITH HARRY)</h1>

    <hr class="my-4">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/videoseries?list=PLu0W_9lII9ahIappRPN0MCAgtOu3lQjQi" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5" style="font-family:verdana;">6-COMPUTER NETWORKS(GATE SMASHERS)</h1>

    <hr class="my-4">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/videoseries?list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5" style="font-family:verdana;">7-PHP(CODE WITH HARRY)</h1>

    <hr class="my-4">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/videoseries?list=PLu0W_9lII9aikXkRE0WxDt1vozo3hnmtR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>
{% endblock body %}

