{% extends 'base.html' %}
{% load static %}
{% block title %}PLAYLISTS
{% endblock title %}
{% block body %}
<!-- bradcam_area_start -->
<header>
  <div class="container text-center text-white">
  
     <u><h1>C++/C</h1></u>
  </div>
  
  </header>
  <!-- bradcam_area_end -->

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">1-C++(CODE WITH HARRY)</h1>
    <hr class="my-4">
    <iframe width="800" height="460"
      src="https://www.youtube.com/embed/videoseries?list=PLu0W_9lII9agpFUAlPFe_VNSlXW5uE0YL" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">2-C++(SAURABH SHUKLA)</h1>

    <hr class="my-4">
   <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLLYz8uHU480j37APNXBdPz7YzAi4XlQUF" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">3-C++(APNA COLLEGE)</h1>

    <hr class="my-4">
  <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLfqMhTWNBTe0b2nM6JHVCnAkhQRGiZMSJ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">4-C PROGRAMMING(NESO ACADEMY)</h1>

    <hr class="my-4">
   <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLBlnK6fEyqRggZZgYpPMUxdY1CYkZtARR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">5-C PROGRAMMING(CODE WITH HARRY)</h1>

    <hr class="my-4">
    <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLu0W_9lII9aiXlHcLx-mDH1Qul38wD3aR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>


{% endblock body %}

