{% extends 'base.html' %}
{% load static %}
{% block title %}PLAYLISTS
{% endblock title %}
{% block body %}
<!-- bradcam_area_start -->
<header>
  <div class="container text-center text-white">
  
     <u><h1>DataBase Management System</h1></u>
  </div>
  
  </header>
  <!-- bradcam_area_end -->

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">1-DBMS(GATE SMASHERS)</h1>
    <hr class="my-4">
   <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLxCzCOWd7aiFAN6I8CuViBuCdJgiOkT2Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">2-DBMS(KNOWLEDGE GATE)</h1>

    <hr class="my-4">
   <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLmXKhU9FNesR1rSES7oLdJaNFgmuj0SYV" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">3-DBMS(JENNY'S LECTURES)</h1>

    <hr class="my-4">
  <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLdo5W4Nhv31b33kF46f9aFjoJPOkdlsRc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">4-C PROGRAMMING(NESO ACADEMY)</h1>

    <hr class="my-4">
   <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLBlnK6fEyqRggZZgYpPMUxdY1CYkZtARR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

{% endblock body %}

