{% extends 'base.html' %}
{% load static %}
{% block title %}PLAYLISTS
{% endblock title %}
{% block body %}

<!-- bradcam_area_start -->
<header>
  <div class="container text-center text-white">
     <u><h1>DATA STRUCTURE AND ALGORITHMS</h1></u>
  </div>
  
  </header>
  <!-- bradcam_area_end -->
<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">1-DATA STRUCTURE AND ALGORITHMS(CODE WITH HARRY)</h1>
    <hr class="my-4">
    <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLu0W_9lII9ahIappRPN0MCAgtOu3lQjQi" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">2-DATA STRUCURE(NESO ACADEMY)</h1>

    <hr class="my-4">
   <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLBlnK6fEyqRj9lld8sWIUNwlKfdUoPd1Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">3-ALGORITHMS(ABDUL BARI)</h1>

    <hr class="my-4">
 <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLDN4rrl48XKpZkf03iYFl-O29szjTrs_O" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">4-DATA STRUCTURE AND ALGORITHMS(APNA COLLEGE)</h1>

    <hr class="my-4">
   <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLfqMhTWNBTe0b2nM6JHVCnAkhQRGiZMSJ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">5-DATA STRUCTURE AND ALGORITHMS(APNI KAKSHA)</h1>

    <hr class="my-4">
  <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLKKfKV1b9e8ps6dD3QA5KFfHdiWj9cB1s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>


{% endblock body %}

