{% extends 'base.html' %}
{% load static %}
{% block title %}PLAYLISTS
{% endblock title %}
{% block body %}
<!-- bradcam_area_start -->
<header>
  <div class="container text-center text-white">
  
     <u><h1>JAVA</h1></u>
  </div>
  
  </header>
  <!-- bradcam_area_end -->

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">1-JAVA PROGRAMMING(NESO ACADEMY)</h1>
    <hr class="my-4">
     <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLBlnK6fEyqRjKA_NuK9mHmlk0dZzuP1P5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">2-JAVA PROGRAMMING(CODE WITH HARRY)</h1>

    <hr class="my-4">
   <iframe width="800" height="460" src="https://www.youtube.com/embed/ntLJmHOJ0ME" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">3-JAVA PROGRAMMING(EDUREKA))</h1>

    <hr class="my-4">
  <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PL9ooVrP1hQOHb4bxoHauWVwNg4FweDItZ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">4-C PROGRAMMING(NESO ACADEMY)</h1>

    <hr class="my-4">
   <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLBlnK6fEyqRggZZgYpPMUxdY1CYkZtARR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

{% endblock body %}

