{% extends 'base.html' %}
{% load static %}
{% block title %}PLAYLISTS
{% endblock title %}
{% block body %}
<!-- bradcam_area_start -->
<header>
  <div class="container text-center text-white">
  
     <u><h1>PHP</h1></u>
  </div>
  
  </header>
  <!-- bradcam_area_end -->

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">1-PHP(CODE WITH HARRY)</h1>
    <hr class="my-4">
   <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLu0W_9lII9aikXkRE0WxDt1vozo3hnmtR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">2-PHP(DANI KROSSING)</h1>

    <hr class="my-4">
  <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PL0eyrZgxdwhwBToawjm9faF1ixePexft-" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">3-ADVANCE PHP(GEKKY SHOWS)</h1>

    <hr class="my-4">
  <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLbGui_ZYuhiiaWMoOK7LXB0GeLsYCiyz5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>

<div class="container" my-8>
  <div class="jumbotron">
    <h1 class="display-5">4-PHP FOR BEGIINERS</h1>

    <hr class="my-4">
  <iframe width="800" height="460" src="https://www.youtube.com/embed/videoseries?list=PLS1QulWo1RIZc4GM_E04HCPEd_xpcaQgg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>


{% endblock body %}

